/* body,html{
    width: 100%;
} */

.header {
    background: #010101;
    width: 100%;
    height: 45px;
}

.container {
    width: 1190px;
    margin: 0 auto;
    height: 30px
}

.header .container .header_left {
    float: left;
}

.header .container .header_left a {
    color: #fff;
    font-size: 12px;
    margin-left: 17px
}

.header .container .header_left div {
    display: inline-block;
    margin-top: 14px;
    margin-left: 20px;
}

.header .container .header_right {
    float: right;
    margin-top: 14px;
    margin-right: 20px;
}
.header .container .header_right  .logout{
    margin-left: 20px
}
.header .container .header_right a {
    color: #fff;
    font-size: 12px;
}

.logo_img {
    width: 85px;
    height: auto;
    vertical-align: bottom;
    margin-bottom: 3px;
}

.banner_img {
    width: 100%;
    min-height: 280px
}